body {
    margin: 100px;   
    background-color: black;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:fit-content;
}

h1 {
    color:rgb(151 175 185);
    text-shadow:-2px 7px 20px black;
    box-shadow: inset 5px 0px 200px 20px #9f9d9d;
    border-radius: 100px;
    font-family: cursive; size: 100px;
    text-align: center;
    height: fit-content;
    }

h2 {
    color: grey;
    font-family:'Times New Roman', Times, serif;
    text-align:right;
    font-size: 150px;
    position: absolute;
}

p {
    padding: 100px;
    margin: 105px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}
.gif {
  object-fit: fill;
  object-position: 50% 50%; 
}

.image-container {
    padding: 3px;
    margin: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 200px;
    background-clip: border-box;
    box-shadow: 100px -100px 200px 100px #3fb6bc;
}
img {
    padding-left: 0%;
    border-radius: 162px;
    background-color: black;
    left: 65%;
    }

a {
    padding-bottom: 0px; 
    border: none;
    margin: 10px 30px 25px 45px; 
    color: rgb(16, 102, 177);
    font-size: 50px;
    position: 10px relative;
    display: grid;
    justify-content: space-around;
}
.top-left {
    position: absolute;
    left: 0%;
    top: 0px;
    color: rgb(16, 102, 177);
}
.top.right {
    position:fixed;
    top: -2%;
    right: 2%;
}
a:hover {
    background-color: rgb(44, 63, 72);
}